{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    [
      "../../../lib",
      {
        "ssr": false,
        "displayName": false,
        "transpileTemplateLiterals": false
      }
    ]
  ]
}
